.float-right.d-none.d-sm-inline{
  /* display: ; */
visibility: hidden;
}

.login-logo img{
  max-width:400px;
  max-height:400px;
}

.brand-link img.elevation-3{
  border-radius: 0 !important;
  box-shadow:0 0 0 black !important;
  display: none;
  /* width:  200px;
  height: 200px; */
}
